.app-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 15px;
}

.content-container {
  grid-column: span 12;
  margin: 0px 50px 0px 50px;
}

footer {
  grid-column: span 12;
  margin-top: auto;
}
