.top-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px 30px 40px;
  width: 69%;
}

.tabs {
  display: flex;
  flex-direction: row;
  margin-right: auto;
  background-color: #d3d0d0;
  border-radius: 5px 5px 0 0;
}

.tab {
  cursor: pointer;
  color: #ffff;
  width: 8rem;
  padding: 10px 20px;
  border-radius: 5px 5px 0 0;
  transition: background-color 0.3s, color 0.3s;
}

.tab.active {
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
  background-color: #efefe9;
  color: #c0002a;
}

/* margin-right is doing the thing i was trying to figure out */
.text-box {
  border-radius: 0px 10px 10px 10px;
  background-color: #efefe9;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
}

.text-box-paragraph {
  margin-top: 0;
  margin-bottom: 0;
  padding: 20px;
  font: 400 16px Red Hat Display, -apple-system, Roboto, Helvetica, sans-serif;
}

.main-container {
  display: flex;
  width: 69%;
  padding: 0px 40px 0px 40px;
  align-items: start;
  gap: 40px;
}
@media (max-width: 991px) {
  .main-container {
    max-width: 100%;
    flex-wrap: wrap;
  }
}

.main-container.start {
  justify-content: space-between;
}

.main-container.space-between {
  justify-content: space-between;
}

.address-contact-div {
  display: flex;
  margin-top: 2rem;
  gap: 5rem;
}
@media (max-width: 991px) {
  .address-contact-div {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}

.address-div {
  display: flex;
  flex-direction: column;
  width: 15rem;
}
@media (max-width: 991px) {
  .address-div {
    margin-top: 40px;
  }
}
.img-logo {
  object-fit: contain;
  object-position: center;
  width: 85px;
  overflow: hidden;
  align-self: center;
  max-width: 100%;
}

.address-title {
  justify-content: center;
  color: #282828;
  text-align: center;
  margin-top: 19px;
  font: 500 18px Red Hat Display, -apple-system, Roboto, Helvetica, sans-serif;
}
.address-address {
  justify-content: center;
  color: #282828;
  text-align: center;
  margin-top: 34px;
  font: 400 14px Red Hat Display, -apple-system, Roboto, Helvetica, sans-serif;
}
.contact-div {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 42%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .contact-div {
    width: 100%;
    margin-top: 40px;
  }
}

.contact-div-title {
  color: #282828;
  font: 500 16px Red Hat Display, -apple-system, Roboto, Helvetica, sans-serif;
}
.contact-div-link {
  color: #282828;
  text-decoration-line: underline;
  margin-top: 19px;
  white-space: nowrap;
  font: 500 18px Red Hat Display, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .contact-div-link {
    white-space: initial;
  }
}
.contact-div-contact-us {
  color: #282828;
  margin-top: 52px;
  font: 500 16px Red Hat Display, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .contact-div-contact-us {
    margin-top: 40px;
  }
}
.contact-div-hours-text {
  color: #282828;
  margin-top: 19px;
  font: 500 16px Red Hat Display, -apple-system, Roboto, Helvetica, sans-serif;
}

.contact-div-img-phone-text {
  display: flex;
  margin-top: 10px;
}
.img-phone {
  display: flex;
  margin-top: 10px;
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 55px;
  overflow: hidden;
  max-width: 100%;
}
.contact-div-phone-text {
  color: #282828;
  text-decoration-line: underline;
  align-self: center;
  flex-grow: 1;
  white-space: nowrap;

  font: 500 16px Red Hat Display, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .contact-div-phone-text {
    white-space: initial;
  }
}

.login-form {
  display: flex;
  flex-direction: column;

  background-color: #efefe9;
  border-radius: 10px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
}

.mitid-form {
  display: flex;
  flex-direction: column;
  height: max-content;
  width: 20rem;
}

.form-title {
  font-family: "Red Hat Display";
  font-size: 2rem;
  font-weight: 500;
  color: #2b2b2b;
  margin-left: 2.5rem;
  margin-top: 1rem;
}

.mitid-fields {
  display: flex;
  flex-direction: row;
  align-items: baseline;

  margin-left: 0.5rem;
}

.mitid-column {
  width: calc(50% - 1rem);
}

.form-rows {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 0.5rem;
  justify-content: center;
}

.form-button-div {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.button {
  align-items: center;
  color: white;
  background-color: #c0002a;
  height: 3rem;
  width: 21rem;
  font-family: "Red Hat Display";
  font-size: 1.2rem;
  font-weight: 600;
  justify-content: center;
  border-radius: 10px;
  border-style: none;
  cursor: pointer;
}

button:hover {
  background-color: #c0002a;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}
