form-row {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  justify-content: center;
}

.first-step-align {
  align-items: center;
}

.form {
  margin-left: auto;
  margin-right: auto;
  height: max-content;
  background-color: #efefe9;
  border-radius: 10px;
}

.a {
  color: #c0002a;
  font-size: 1.4rem;
  font-weight: 600;
}

.space-btw {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.step-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 4rem 2rem 4rem;
}

.justify {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn {
  align-items: center;
  color: white;
  height: 4rem;
  font-family: "Red Hat Display";
  font-size: 1.2rem;
  font-weight: 600;
  justify-content: center;
  border-radius: 10px;
  border-style: none;
  cursor: pointer;
}

.p {
  font-family: "Red Hat Display";
  font-size: 1.2rem;
  font-weight: 600;
  color: #2b2b2b;
}

.next {
  width: 10rem;
}

.btn:enabled {
  background-color: #c0002a;
}

.btn:disabled {
  background-color: #2b2b2b; /* Change the background color */
  color: #666; /* Change the text color */
  cursor: not-allowed; /* Change the cursor */
  /* Add any other styles for the disabled state */
}

.previous {
  width: 15rem;
}

.login {
  width: 15rem;
  align-self: flex-end;
}

.sec-title {
  font-family: "Red Hat Display";
  font-size: 2.2rem;
  color: #2b2b2b;
}

.form-div {
  margin-top: 5rem;
}
