.search-container {
  position: relative;
  display: flex;
  flex-direction: row;
}

.searchbar {
  padding: 8px 16px;
  border: 1px solid;
  border-radius: 10px;
  cursor: pointer;
  width: 60%;
  margin-bottom: 30px;
}

.material-icons {
  color: #c0002a;
  cursor: pointer;
  position: absolute;
  top: 26%;
  right: 468px;
  transform: translateY(-50%);
}
