body {
  margin: 0;
  padding: 0;
  display: grid;
  min-height: 100vh;
  grid-template-rows: 1fr auto; /* Create two rows, the first will take the available space, and the second will be the footer */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
